services:
  api:
    build: .
    container_name: boltapi_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app:ro
    restart: always
    depends_on:
      - db

  db:
    image: boltapi-postgres:latest
    container_name: boltapi_db
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME} 
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}  
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data 
    restart: always

volumes:
  postgres_data:
